.navbar {
  background: black;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.add-btn {
  background-color: white;
  color: black;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
